<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch | Create</title>
  </head>
  <body>
    <a href="{% url 'all_watch' %}">Home</a><br />
    <p>------------------------------------------</p>

    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
      <p>------------------------------------------</p>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ watch_form.as_p }}
      <input type="submit" />
    </form>
  </body>
</html>
