<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch | Details</title>
</head>
<body>
    <a href="{% url 'all_watch' %}" >Home</a><br>
    <p>------------------------------------------</p>



    <p>{{ watch.id }}</p>
    <p>{{ watch.marka }}</p>
    <p>{{ watch.model }}</p>
    <p>{{ watch.describtion }}</p>
    <p>{{ watch.price }}</p>
    <p>{{ watch.discount_price }}</p>
    <p>{{ watch.discount_dedline }}</p>
</body>
</html>