{% extends 'base/layout.html' %}

{% block title %}
  My watches
{% endblock %}

{% block message %}
  {% if messages %}
    {% for message in messages %}
      <div class="container" style="background-color: lightsteelblue; width: 600px;">
        <b><div class="mx-auto p-2" style="width: auto; font-size: 18px; color: rgb(219, 36, 36); text-align: center;">{{ message }}</div></b>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}
 
<div class="row row-cols-3">
  {% for watch in my_watches %}
    <div class="col mt-5 d-flex justify-content-around">
      <div class="card" style="width: 18rem; box-shadow: 2px 3px 6px aqua; background-color: rgb(241, 241, 241);">
        {% if watch.watch_image %}
          <img src="{{ watch.watch_image.url }}" alt="watch-watch_image-{{ watch.id }}" class="card-img-top" style="width: auto; height: 250px; object-fit: cover;" />
        {% else %}
          <img src="/media/media/images.png" alt="default" style="width: auto; height: 250px; object-fit: cover;" />
        {% endif %}
        <hr />
        <div class="card-body">
          <div class="d-flex justify-content-evenly">
            <p class="card-title w-50">{{ watch.brand }}</p>
            <p class="card-text w-50">{{ watch.model }}</p>
          </div>
          <div class="d-flex justify-content-around me-5">
            <b style="color: green; font-size: 21px; margin-right: 10px;">{{ watch.discount_price }} azn</b>
            <p style="color: red; font-size: 18px;">
              <s>{{ watch.price }}</s> azn
            </p>
          </div>

          <b>Son tarix:</b>
          <b style="color: black; margin-left: 10px;">{{ watch.discount_dedline|date:'d.m.Y' }}</b>

          <div class="d-flex justify-content-between mt-2">
            <form action="{% url 'watch_detail' watch.id %}" method="post">
              {% csrf_token %}
              <button class="btn btn-primary ms-2">Ətraflı</button>
            </form>
            {% if watch.user == seller %}
              <form action="{% url 'watch_update' watch.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-warning ms-2">Yenilə</button>
              </form>

              <form action="{% url 'watch_delete' watch.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger ms-2">Sil</button>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
