{% extends 'base/layout.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block title %}
  Update-{{ watch.brand }}
{% endblock %}

{% block message %}
  {% if messages %}
    {% for message in messages %}
      <div class="container" style="background-color: lightsteelblue; width: 600px;">
        <b><div class="mx-auto p-2" style="width: auto; font-size: 18px; color: rgb(219, 36, 36); text-align: center;">{{ message }}</div></b>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}
  
  <div class="d-flex justify-content-center my-3">
    <div style="width: 600px;">
      {% if watch.watch_image %}
        <img src="{{ watch.watch_image.url }}" alt="Watch image" style="width: 200px; height: 170px;" />
      {% else %}
        <img src="/media/media/images.png" alt="Watch image" style="width: 200px; height: 170px;" />
      {% endif %}

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" class="btn btn-outline-primary btn-lg" />
      </form>
    </div>
  </div>
{% endblock %}
